<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Encantando</title>
    <link rel="stylesheet" href="../static/styles1.css">
    
</head>
<body>
    <header>
        <h1>Hotel Encantando</h1>
        <nav>
            <ul>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="reserva.html">Reserva</a></li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="login.html">Faça login</a></li>
                <li><a href="pagamento.html">Pagamento</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="comodidades">
            <h2>Alguns dos nossos serviços</h2>
            <div class="comodidades-container">
                <div class="comodidade">
                    <h4><a href="servicos.html" class="Spa">Spa e massagem</a></h4>
                    <p><img src="../assets/spa.jpg" class="img"></p>
                </div>
                <div class="comodidade">
                    <h4><a href="servicos.html" class="food">Cardápio especial</a></h4>
                    <p><img src="../assets/menu.jpg" class="img2"></p>
                </div>
            </div>
        </section>
        
        <section id="quartos">
            <h2>Viva o verdairo Hotel Encantado</h2>
            <div class="quartos-container">
                <div class="quarto">
                    <div class="image-container">
                        <img src="../assets/1.jpg" class="img" alt="Quarto 1">
                        <div class="overlay">
                            <a href="../templates/servicos.html" class="sleep"><h3>Área de lazer</h3></a>
                            <p>Aproveite uma área maravilhosa para lazer e descanso</p>
                        </div>
                    </div>
                </div>
                <div class="quarto">
                    <div class="image-container">
                        <img src="../assets/2.jpg" class="img" alt="Quarto 2">
                        <div class="overlay">
                            <a href="../templates/servicos.html" class="sleep"><h3>Suite star</h3></a>
                            <p>Vivencie a melhor expêriencia com conforto e elegância</p>
                        </div>
                    </div>
                </div>
                <div class="quarto">
                    <div class="image-container">
                        <img src="../assets/3.jpg" class="img" alt="Quarto 3">
                        <div class="overlay">
                            <a href="../templates/sobre.html"  class="hotel"><h3>Hotel Encantando</h3></a>
                            <p>Um pouco sobre o nosso encanto!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="contato">
            <h2>Contato</h2>
            <p>Entre em contato conosco pelo telefone: (11) 1234-5678</p>
            <a href="https://workspace.google.com/intl/pt-BR/gmail/" class="email">Ou envie um e-mail para nosso suporte: contato@hotelencantando.com.br</a>
        </address>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Hotel Encantando. Todos os direitos reservados.</p>
        <p><a href="https://www.reclameaqui.com.br/" class="reclame-aqui">Alguma reclamação? Reclame aqui:</p></a>
        <p>Siga-nos nas redes sociais:</p>
        <ul>
            <li><a href="https://www.facebook.com/?locale=pt_BR">Facebook</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://chat.whatsapp.com/KtjXCfB4gKZ4b0LSkhF3SB">Whatsapp</a></li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
</body>
</html>
