<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta do Hóspede</title>
    <link rel="icon" type="image/jpg" href="C:\Users\INTEL\Desktop\hotelaria_com_melhorias(2)\hotelaria_com_melhorias\assets\hotel.jpg">
    <link rel="stylesheet" href="../static/style4.css">
</head>

<body>

    <div class="info-item">
        <span>Diárias:</span>
        <span id="diarias">--</span>
    </div>

    <div class="info-item">
        <span>Total das Diárias:</span>
        <span id="totalDiarias">--</span>
    </div>

    <div class="info-item">
        <span>Serviços:</span>
        <span id="servicos">--</span>
    </div>

    <div class="info-item">
        <span>Frigobar:</span>
        <span id="frigobar">--</span>
    </div>

    <div class="info-item total">
        <span>Total da Conta:</span>
        <span id="totalContaHospede">--</span>
    </div>
    </div>
<script src="conta.js"></script>
</body>