<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Encantando</title>
    <link rel="icon" type="image/jpg" href="C:\Users\INTEL\Desktop\hotelaria_com_melhorias(2)\hotelaria_com_melhorias\assets\hotel.jpg">
    <link rel="stylesheet" href="../static/styles1.css">
    
    
</head>
<body>
    <header>
        <h1>Hotel Encantando</h1>
        <nav>
            <ul>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="reserva.html">Reserva</a></li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="login.html">Faça login</a></li>
                <li><a href="pagamento.html">Pagamento</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="comodidades">
            <h2>Alguns dos nossos serviços</h2>
            <div class="comodidades-container">
                <div class="comodidade">
                    <h4><a href="servicos.html" class="Spa">Spa e massagem</a></h4>
                    <p><img src="https://i.pinimg.com/564x/c0/2d/e1/c02de119df9a6740b13cf2c9e9c6bc31.jpg" class="img"></p>
                </div>
                <div class="comodidade">
                    <h4><a href="servicos.html" class="food">Cardápio especial</a></h4>
                    <p><img src="https://i.pinimg.com/564x/ef/12/5a/ef125aff6410bfa3ae2760855a1bae89.jpg" class="img2"></p>
                </div>
            </div>
        </section>
        
        <section id="quartos">
            <h2>Viva o verdairo Hotel Encantado</h2>
            <div class="quartos-container">
                <div class="quarto">
                    <div class="image-container">
                        <img src="https://i.pinimg.com/736x/20/a7/90/20a7909cdf8d96902056192f4d8d3509.jpg" class="img" alt="Quarto 1">
                        <div class="overlay">
                            <a href="https://blog.aventurando.com.br/10-atividades-de-lazer-preferidas-pelos-brasileiros-2/" class="lazer"><h3>Área de lazer</h3></a>
                            <p>Aproveite uma área maravilhosa para lazer e descanso</p>
                        </div>
                    </div>
                </div>
                <div class="quarto">
                    <div class="image-container">
                        <img src="https://i.pinimg.com/564x/76/b5/7c/76b57caa070a30d4d2f8b868039d6850.jpg" class="img" alt="Quarto 2">
                        <div class="overlay">
                            <a href="https://www.faialprime.com.br/o-que-fazer-para-dormir-bem-em-hotel-como-se-fosse-na-sua-casa/" class="sleep"><h3>Suite star</h3></a>
                            <p>Vivencie a melhor expêriencia com conforto e elegância</p>
                        </div>
                    </div>
                </div>
                <div class="quarto">
                    <div class="image-container">
                        <img src="https://i.pinimg.com/564x/ad/81/1e/ad811e6f18ecaa49426c6dc8d5545ad2.jpg" class="img" alt="Quarto 3">
                        <div class="overlay">
                            <a href="https://bristolhoteis.com.br/a-evolucao-dos-hoteis-chegada-hotelaria-brasil/" class="hotel"><h3>Hotel Encantando</h3></a>
                            <p>Um pouco sobre o nosso encanto!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="contato">
            <h2>Contato</h2>
            <p>Entre em contato conosco pelo telefone: (11) 1234-5678</p>
            <a href="https://workspace.google.com/intl/pt-BR/gmail/" class="email">Ou envie um e-mail para nosso suporte: contato@hotelencantando.com.br</a>
        </address>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Hotel Encantando. Todos os direitos reservados.</p>
        <p><a href="https://www.reclameaqui.com.br/" class="reclame-aqui">Alguma reclamação? Reclame aqui.</a></p>
        <p>Siga-nos nas redes sociais:</p>
        <ul>
            <li><a href="https://www.facebook.com/?locale=pt_BR" class="face">Facebook</a></li>
            <li><a href="https://www.instagram.com/" class="insta">Instagram</a></li>
            <li><a href="https://chat.whatsapp.com/KtjXCfB4gKZ4b0LSkhF3SB" class="whats">Whatsapp</a></li>
        </ul>
    </footer>
</body>
</html>
